<h1>Vas y crée une tache mecton !</h1>

<div>
  <%= form_with model: @task do |f| %>
    <%= f.label :title, "Titre?" %>
    <%= f.text_field :title%>
    <%= f.label :details, "Description?" %>
    <%= f.text_field :details%>
    <%= f.submit %>
  <% end %>
</div>
